@import "tailwindcss";

/* App.css */


:root {
  /* Font Family */
  --font-family: "Inter", sans-serif;

  /* Font Sizes */
  --text-body: 16px;
  --text-h3: 20px;
  --text-h2: 24px;
  --text-h1: 30px;

  /* Font Weights */
  --font-regular: 400;
  --font-medium: 500;
  --font-semibold: 600;
}

/* Global Styles */
body {
  margin: 0;
  font-family: var(--font-family);
  font-size: var(--text-body);
  font-weight: var(--font-regular);
}

h1 {
  font-size: var(--text-h1);
  font-weight: var(--font-semibold);
}

h2 {
  font-size: var(--text-h2);
  font-weight: var(--font-semibold);
}

h3 {
  font-size: var(--text-h3);
  font-weight: var(--font-medium);
}

p {
  font-size: var(--text-body);
  font-weight: var(--font-regular);
}